  <div class="grid-container">
  <div class="grid-row grid-gap">
    <main class="usa-layout-docs__main desktop:grid-col-12 usa-prose usa-layout-docs" id="main-content">
    <table class='usa-table'>
    <thead>
    <tr>
        <th>Agency</th>
        <th>Total SORNs</th>
        <th>A-108 Era SORNs</th>
        <th>New</th>
        <th>Modification</th>
        <th>Rescindment</th>
        <th>Renewal</th>
        <th>Unknown or Other</th>
        <th>Computer Matching Agreement</th>
    </tr>
    </thead>
    
    <% @agencies.each do |agency| %>
      <tr>
      <td><%= agency.name %></td>
      <td><%= agency.sorns.count %></td>
      <td><%= agency.sorns.where("publication_date::date > ?", "2016-12-23").count %></td>
      <td><%= agency.sorns.where("action_type = 'New'").count %></td>
      <td><%= agency.sorns.where("action_type = 'Modification'").count %></td>
      <td><%= agency.sorns.where("action_type = 'Rescindment'").count %></td>
      <td><%= agency.sorns.where("action_type = 'Renewal'").count %></td>
      <td><%= agency.sorns.where("action_type = 'Computer Matching Agreement'").count %></td>
      <td><%= agency.sorns.where("action_type = 'Unknown or Other'").count %></td>
      </tr>
    <% end %>
      <tr class="usa-bold">
      <td>Totals</td>
      <td><%= Sorn.count %></td>
      <td><%= Sorn.where("publication_date::date > ?", "2016-12-23").count %></td>
      <td><%= Sorn.where("action_type = 'New'").count %></td>
      <td><%= Sorn.where("action_type = 'Modification'").count %></td>
      <td><%= Sorn.where("action_type = 'Rescindment'").count %></td>
      <td><%= Sorn.where("action_type = 'Renewal'").count %></td>
      <td><%= Sorn.where("action_type = 'Computer Matching Agreement'").count %></td>
      <td><%= Sorn.where("action_type = 'Unknown or Other'").count %></td>
      </tr>
    </table>
  </div>

  <h2>Stats</h2>
    <ul>
        <li>SORNs without XML_URLs: <%= @no_xml_url %></li>
        <li>SORNs with bulleted CORs: <%= Sorn.where("categories_of_record ~* ?", '•', ).count %>
    </ul>

  </main>
</div>
</div>
