<div class="usa-accordion__heading">
  <button class="usa-accordion__button" aria-controls="agency-accordion" type="button">Agencies</button>
</div>
<div id="agency-accordion" class="usa-accordion__content usa-prose">
  <fieldset id="agencies" class="usa-fieldset">
    <button id='agency-deselect-all' class="clear-all usa-button usa-button--unstyled"><%= image_tag("close-red-50.svg", role: "img", alt: "")%>Clear agency filters</button>

    <label for="agency-search">Filter by agency name</label>
    <input id="agency-search" form="" class="agency-filter usa-input" type="text"></input>
    <div id="agency-filter-help-text" class="usa-prose" aria-live="polite" aria-atomic="true"></div>

    <div id="selected-agencies" class="list">
      <% Agency.all.each do |agency| %>
        <div class="usa-checkbox">
          <input class="usa-checkbox__input" id="agencies-<%= agency.name&.parameterize %>" type="checkbox" name="agencies[]" value="<%= agency.name %>" <%= "checked" if agency_selected?(agency.name) %> form="search-form">
          <label class="usa-checkbox__label agency-name" for="agencies-<%= agency.name&.parameterize %>"><%= agency.name %></label>
          <div class="agency-short-name" hidden><%= agency.short_name %></div>
        </div>
      <% end %>
    </div>
  </fieldset>
</div>
