<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agency.name %>
</p>

<table>
  <thead>
    <tr>Count: <%= @count %></tr>
    <%= paginate @sorns %>
    <tr>
      <th>System Name and Number</th>
      <th>Action</th>
      <th>Authority</th>
      <th>Categories of Record</th>
      <th>History</th>
      <th>Xml Url</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% @sorns.each do |sorn| %>
      <tr>
        <td><%= sorn.system_name %></td>
        <td><%= sorn.system_number %></td>
        <td><%= sorn.action %></td>
        <td><%= sorn.authority %></td>
        <td><%= highlight(sorn.categories_of_record, params[:search]) %></td>
        <td><%= sorn.history %></td>
        <td><%= link_to 'link', sorn.xml_url %></td>
        <td><%= link_to 'Show', sorn %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>
