<button id='agency-select-all' class="usa-button usa-button--outline agency-button" type="button">Select All</button>
<button id='agency-deselect-all'  class="usa-button usa-button--outline agency-button" type="button">Deselect All</button>

<fieldset id="agencies" class="usa-fieldset">
  <div id="selected-agencies" class="list">
    <% Agency.all.each do |agency| %>
      <div class="usa-checkbox">
        <input class="usa-checkbox__input" id="agencies-<%= agency.name&.parameterize %>" type="checkbox" name="agencies[]" value="<%= agency.name %>" <%= "checked" if agency_selected?(agency.name) %>>
        <label class="usa-checkbox__label agency-name" for="agencies-<%= agency.name&.parameterize %>"><%= agency.name %></label>
      </div>
    <% end %>
  </div>
</fieldset>

