<button id='agency-select-all' class="usa-button usa-button--outline agency-button" type="button">Select All</button>
<button id='agency-deselect-all'  class="usa-button usa-button--outline agency-button" type="button">Deselect All</button>

<fieldset id="agencies" class="usa-fieldset">
  <legend class="usa-legend">Filter agencies</legend>
  <input id="agency-filter" class="usa-input agency-filter" />
  <div id="selected-agencies" class="list">
    <% Agency.all.each do |agency| %>
      <div class="usa-checkbox">
        <input class="usa-checkbox__input" id="agency-<%= agency.name&.parameterize %>" type="checkbox" name="agencies[]" value="<%= agency.name %>">
        <label class="usa-checkbox__label agency-name" for="agency-<%= agency.name&.parameterize %>"><%= agency.name %></label>
      </div>
    <% end %>
  </div>
</fieldset>
<div id="agencies-for-js" hidden data-agencies="<%= @selected_agencies %>"></div>
<%= javascript_pack_tag 'agencies' %>
