<fieldset id="fields" class="usa-fieldset margin-105">
  <legend class="usa-legend">
    <div id="search-filters">Search filters</div>
    <div id="fields-to-search">Fields to search</div>
  </legend>

  <div id="sorn-fields">
    <% checkboxes = Sorn::FIELDS %>
    <% checkboxes.each do |field| %>
      <div class="usa-checkbox">
        <input class="usa-checkbox__input" id="fields-<%= field %>" type="checkbox" name="fields[]" value="<%= field %>" <%= "checked" if field_selected?(field.to_s) %>>
        <label class="usa-checkbox__label" for="fields-<%= field %>"><%= field.to_s.humanize %></label>
      </div>
    <% end %>
  </div>
</fieldset>