<fieldset id="starting-date" class="usa-fieldset">
  <legend class="usa-legend">Starting date</legend>
  <span class="usa-hint" id="dobHint">For example: 4 28 1986</span>
  <div class="usa-memorable-date">
    <div class="usa-form-group usa-form-group--month">
      <label class="usa-label" for="starting_date_month">Month</label>
      <input class="usa-input usa-input--inline" aria-describedby="dobHint" id="starting_date_month" name="starting_date_month" type="text" maxlength="2" pattern="[0-9]*" inputmode="numeric" value="<%= params[:starting_date_month] %>">
    </div>
    <div class="usa-form-group usa-form-group--day">
      <label class="usa-label" for="starting_date_day">Day</label>
      <input class="usa-input usa-input--inline" aria-describedby="dobHint" id="starting_date_day" name="starting_date_day" type="text" maxlength="2" pattern="[0-9]*" inputmode="numeric" value="<%= params[:starting_date_day] %>">
    </div>
    <div class="usa-form-group usa-form-group--year">
      <label class="usa-label" for="starting_date_year">Year</label>
      <input class="usa-input usa-input--inline" aria-describedby="dobHint" id="starting_date_year" name="starting_date_year" type="text" minlength="4" maxlength="4" pattern="[0-9]*" inputmode="numeric" value="<%= params[:starting_date_year] %>">
    </div>
  </div>
</fieldset>

<fieldset id="ending-date" class="usa-fieldset">
  <legend class="usa-legend">Ending date</legend>
  <span class="usa-hint" id="dobHint">For example: 4 28 1986</span>
  <div class="usa-memorable-date">
    <div class="usa-form-group usa-form-group--month">
      <label class="usa-label" for="ending_date_month">Month</label>
      <input class="usa-input usa-input--inline" aria-describedby="dobHint" id="ending_date_month" name="ending_date_month" type="text" maxlength="2" pattern="[0-9]*" inputmode="numeric" value="<%= params[:ending_date_month] %>">
    </div>
    <div class="usa-form-group usa-form-group--day">
      <label class="usa-label" for="ending_date_day">Day</label>
      <input class="usa-input usa-input--inline" aria-describedby="dobHint" id="ending_date_day" name="ending_date_day" type="text" maxlength="2" pattern="[0-9]*" inputmode="numeric" value="<%= params[:ending_date_day] %>">
    </div>
    <div class="usa-form-group usa-form-group--year">
      <label class="usa-label" for="ending_date_year">Year</label>
      <input class="usa-input usa-input--inline" aria-describedby="dobHint" id="ending_date_year" name="ending_date_year" type="text" minlength="4" maxlength="4" pattern="[0-9]*" inputmode="numeric" value="<%= params[:ending_date_year] %>">
    </div>
  </div>
</fieldset>