  <h2 class="usa-accordion__heading">
    <button class="usa-accordion__button" aria-controls="section-accordion" type="button">Sections</button>
  </h2>
<div id="section-accordion" class="usa-accordion__content usa-prose">
  <fieldset id="fields" class="usa-fieldset margin-105">
    <legend class="usa-legend">
      <div id="section-filters">Sections</div>
    </legend>

    <div id="sorn-fields">
      <% checkboxes = Sorn::FIELDS + Sorn::METADATA %>
      <% checkboxes.each do |field, index| %>
        <div class="usa-checkbox">
          <input class="usa-checkbox__input" id="fields-<%= field %>" type="checkbox" name="fields[]" value="<%= field %>">
          <label class="usa-checkbox__label" for="fields-<%= field %>"><%= field.to_s.humanize %></label>
        </div>
      <% end %>
      <div id="fields-for-js" hidden data-fields="<%= @selected_fields %>"></div>
    </div>
  </fieldset>
</div>