<li class="usa-card">
  <div class="usa-card__container">
    <header class="usa-card__header">
      <h2 class="system-name usa-card__heading"><%= raw(sorn.system_name) %></h2>
    </header>
    <div class="usa-card__body">
      <div class="grid-row">
        <div class="grid-col-12">
          <span class="sorn-attribute-header">Agency:</span>
          <span class="agency-names"><%= sorn.agency_names %></span>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col-12">
          <span class="sorn-attribute-header">Action:</span>
          <%= sorn.action %>
        </div>
      </div>
      <div class="grid-row pub-details">
        <div class="tablet:grid-col-6">
          <span class="sorn-attribute-header">Publication Date:</span>
          <%= sorn.publication_date %>
        </div>
        <div class="tablet:grid-col-6">
          <span class="sorn-attribute-header">Citation:</span>
          <a target="_blank" class="usa-link usa-link--external" href="<%= sorn.html_url %>" rel="noreferrer noopener"><%= sorn.citation %></a>
        </div>
      </div>

      <% if sorn.mentioned.present? %>
        <div class="grid-row">
          <div class="grid-col-12">
            <span class="sorn-attribute-header">SORN versions and/or other SORNs referenced:</span>
            <ul class="sorn-history__list">
            <% sorn.mentioned.each do |metioned_sorn| %>
              <li class="sorn-history__item">
                <span class="sorn-history__content">
                <a href="<%= metioned_sorn.html_url %>" class="mention-citation"><%= metioned_sorn.citation %></a>:
                <span class="sorn-history__date"><%= metioned_sorn.publication_date %></span>
                <span class="sorn-history__seperator">|</span>
                <span class="sorn-history__action"><%= metioned_sorn.action %></span>
                </span>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <% if params[:search].present? %>
        <hr />

        <div class="grid-row">
          <h3 class='found-in'>FOUND IN</h3>
          <% sorn.section_snippets(@fields_to_search.map(&:to_s), params[:search]).each do |section, snippet| %>
            <div class="grid-row">
              <div class='sorn-attribute-header'><%= section.humanize %></div>
              <div class='found-section-snippet'><%= snippet %></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="usa-card__footer">
      <div class="grid-row">
        <div class="grid-col-6">
          <a target="_blank" class="usa-link usa-link--external" href="<%= sorn.html_url %>" rel="noreferrer noopener">View full SORN</a>
        </div>
      </div>
    </div>
  </div>
</li>