<div class="explainer">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-7">
        <p class="explainer__text">WHATEVER</p>
      </div>
      <div class="tablet:grid-col-5">
        <p class="explainer__text text-right">OKAY</p>
      </div>
    </div>
  </div>
</div>

  <div class="grid-container">
    <div class="grid-row grid-gap">
      <main class="usa-layout-docs__main desktop:grid-col-9 usa-prose usa-layout-docs" id="main-content">
        <div class="grid-row margin-top-2 margin-right-0">
          <div class="grid-col-12">
            <%= form_tag('/', method: "get", class: "usa-search") do %>
              <input class="usa-input" id="general-search" type="search" name="search">
              <button id="general-search-button" class="usa-button" type="submit">
                <span class="usa-search__submit-text">Search</span>
              </button>
            <% end %>
          </div>
        </div>
        <div class="grid-row margin-top-2 margin-right-0 results-meta">
          <div class="grid-col-6 display-inline results-meta__filters">
            <span class="results-meta__label ">Something: </span>
            <ul id="active-filters" class="margin-top-05 margin-bottom-05 padding-0">
            </ul>
          </div>


          <div class="grid-col-6 margin-bottom-0 text-right results-meta__count">
             <div id="search-result-counter" class="font-body-xs">
              Showing <span id="result-count" class="text-bold"><%= @count %></span> of <span id="total-count" class="text-bold"><%= @count %></span> <span id="search-term"></span>
            </div>
            <%= paginate @sorns %>
          </div>
        </div>
        <div id="cards">
          <div class="list">
            <% @sorns.each do |sorn| %>
              <div class="card card--sorn padding-2 margin-top-2 margin-right-0 usa-accordion" aria-multiselectable="true">
                <div class="grid-row margin-bottom-105">
                  <h2 class="system card__h2 card__h2--sorn">
                    <%= highlight(sorn.system_name, params[:search]) %>
                  </h2>
                </div>

                <div class="grid-row margin-bottom-105">
                  <div class="tablet:grid-col-2">
                    <span class="card__label">Number:</span>
                  </div>
                  <div class="authority tablet:grid-col-10">
                    <span><%= sorn.system_number %></span>
                  </div>
                </div>

                <div class="grid-row margin-bottom-105">
                  <div class="tablet:grid-col-2">
                    <span class="card__label">Agency:</span>
                  </div>
                  <div class="authority tablet:grid-col-10">
                    <span><%= sorn.agency.name %></span>
                  </div>
                </div>

                <%
=begin%>
 <h4 class>
                  <button class="usa-accordion__button"
                    aria-expanded="false"
                    aria-controls="a1">
                    purpose:
                  </button>
                  <div id="a1" class="usa-accordion__content usa-prose">
                    <%= sorn.purpose %>
                  </div>
                </div>

                <div class="grid-row margin-bottom-105">
                  <div class="tablet:grid-col-2">
                    <span class="card__label">Summary:</span>
                  </div>
                  <div class="authority tablet:grid-col-10">
                    <span><%= sorn.summary %></span>
                  </div>
                </div>

                <div class="grid-row margin-bottom-105">
                  <div class="tablet:grid-col-2">
                    <span class="card__label">Dates:</span>
                  </div>
                  <div class="authority tablet:grid-col-10">
                    <span><%= sorn.dates %></span>
                  </div>
                </div>

                <div class="grid-row margin-bottom-105">
                  <div class="tablet:grid-col-2">
                    <span class="card__label">Addresses:</span>
                  </div>
                  <div class="authority tablet:grid-col-10">
                    <span><%= sorn.addresses %></span>
                  </div>
                </div>

                <div class="grid-row margin-bottom-105">
                  <div class="tablet:grid-col-2">
                    <span class="card__label">Further Information:</span>
                  </div>
                  <div class="authority tablet:grid-col-10">
                    <span><%= sorn.further_info %></span>
                  </div>
                </div>


                <div class="grid-row margin-bottom-105">
                  <div class="tablet:grid-col-2">
                    <span class="card__label">Supplementary Information:</span>
                  </div>
                  <div class="authority tablet:grid-col-10">
                    <span><%= sorn.supplementary_info %></span>
                  </div>
                </div>
<%
=end%>

                <% if sorn.security %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="security">
                      security:
                    </button>
                  </h4>
                    <div id="security" class="usa-accordion__content usa-prose">
                      <%= sorn.security %>
                    </div>
                <% end %>

                <% if sorn.location %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="location">
                      location:
                    </button>
                  </h4>
                    <div id="location" class="usa-accordion__content usa-prose">
                      <%= sorn.location %>
                    </div>
                <% end %>

                <% if sorn.manager %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="manager">
                      manager:
                    </button>
                  </h4>
                    <div id="manager" class="usa-accordion__content usa-prose">
                      <%= sorn.manager %>
                    </div>
                <% end %>


                <% if sorn.authority %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="authority">
                      authority:
                    </button>
                  </h4>
                    <div id="authority" class="usa-accordion__content usa-prose">
                      <%= sorn.authority %>
                    </div>
                <% end %>


                <% if sorn.purpose %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="true"
                      aria-controls="purpose">
                      purpose:
                    </button>
                  </h4>
                    <div id="purpose" class="usa-accordion__content usa-prose">
                      <%= highlight(sorn.purpose, params[:search]) %>
                    </div>
                <% end %>


                <% if sorn.categories_of_individuals %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="categories_of_individuals">
                      categories_of_individuals:
                    </button>
                  </h4>
                    <div id="categories_of_individuals" class="usa-accordion__content usa-prose">
                      <%= sorn.categories_of_individuals %>
                    </div>
                <% end %>


                <% if sorn.categories_of_record %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="true"
                      aria-controls="categories_of_record">
                      categories_of_record:
                    </button>
                  </h4>
                    <div id="categories_of_record" class="usa-accordion__content usa-prose">
                      <%= highlight(sorn.categories_of_record, params[:search]) %>
                    </div>
                <% end %>

                <% if sorn.source %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="source">
                      source:
                    </button>
                  </h4>
                    <div id="source" class="usa-accordion__content usa-prose">
                      <%= sorn.source %>
                    </div>
                <% end %>

                <% if sorn.routine_uses %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="routine_uses">
                      routine_uses:
                    </button>
                  </h4>
                    <div id="routine_uses" class="usa-accordion__content usa-prose">
                      <%= sorn.routine_uses %>
                    </div>
                <% end %>


                <% if sorn.storage %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="storage">
                      storage:
                    </button>
                  </h4>
                    <div id="storage" class="usa-accordion__content usa-prose">
                      <%= sorn.storage %>
                    </div>
                <% end %>


                <% if sorn.retrieval %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="retrieval">
                      retrieval:
                    </button>
                  </h4>
                    <div id="retrieval" class="usa-accordion__content usa-prose">
                      <%= sorn.retrieval %>
                    </div>
                <% end %>

                <% if sorn.retention %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="retention">
                      retention:
                    </button>
                  </h4>
                    <div id="retention" class="usa-accordion__content usa-prose">
                      <%= sorn.retention %>
                    </div>
                <% end %>



                <% if sorn.safeguards %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="safeguards">
                      safeguards:
                    </button>
                  </h4>
                    <div id="safeguards" class="usa-accordion__content usa-prose">
                      <%= sorn.safeguards %>
                    </div>
                <% end %>



                <% if sorn.access %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="access">
                      access:
                    </button>
                  </h4>
                    <div id="access" class="usa-accordion__content usa-prose">
                      <%= sorn.access %>
                    </div>
                <% end %>




                <% if sorn.contesting %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="contesting">
                      contesting:
                    </button>
                  </h4>
                    <div id="contesting" class="usa-accordion__content usa-prose">
                      <%= sorn.contesting %>
                    </div>
                <% end %>


                <% if sorn.notification %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="notification">
                      notification:
                    </button>
                  </h4>
                    <div id="notification" class="usa-accordion__content usa-prose">
                      <%= sorn.notification %>
                    </div>
                <% end %>

                <% if sorn.exemptions %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="exemptions">
                      exemptions:
                    </button>
                  </h4>
                    <div id="exemptions" class="usa-accordion__content usa-prose">
                      <%= sorn.exemptions %>
                    </div>
                <% end %>

                <% if sorn.history %>
                  <h4 class="usa-accordion__heading">
                    <button class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="history">
                      history:
                    </button>
                  </h4>
                    <div id="history" class="usa-accordion__content usa-prose">
                      <%= sorn.history %>
                    </div>
                <% end %>


                <%
=begin%>
 <div class="grid-row margin-bottom-105">
                  <div class="tablet:grid-col-2">
                    <span class="card__label">Links:</span>
                  </div>
                  <div class="authority tablet:grid-col-10">
                    <span><%= link_to 'html', sorn.html_url %></span>
                    <span><%= link_to 'xml', sorn.xml_url %></span>
                  </div>
                </div>
<%
=end%>
              </div>
            <% end %>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>