<p id="notice"><%= notice %></p>

<h1>Sorns</h1>

<table>
  <thead>
    <tr>
      <th>Agency</th>
      <th>System name and number</th>
      <th>Authority</th>
      <th>Categories of record</th>
      <th>A108</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sorns.each do |sorn| %>
      <tr>
        <td><%= sorn.agency_id %></td>
        <td><%= sorn.system_name_and_number %></td>
        <td><%= sorn.authority %></td>
        <td><%= sorn.categories_of_record %></td>
        <td><%= sorn.a108 %></td>
        <td><%= link_to 'Show', sorn %></td>
        <td><%= link_to 'Edit', edit_sorn_path(sorn) %></td>
        <td><%= link_to 'Destroy', sorn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sorn', new_sorn_path %>
