<p id="notice"><%= notice %></p>

<h1>Sorns</h1>

<%= form_tag(sorns_path, method: "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search") %>
<% end %>

<table>
  <thead>
    <tr>Count: <%= @count %></tr>
    <%= paginate @sorns %>
    <tr>
      <th>Agency</th>
      <th>Action</th>
      <th>System name and number</th>
      <th>Authority</th>
      <th>Categories of record</th>
      <th>Html Url</th>
      <th>Xml Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sorns.each do |sorn| %>
      <tr>
        <td><%= sorn.agency.name %></td>
        <td><%= sorn.action %></td>
        <td><%= sorn.system_name_and_number %></td>
        <td><%= sorn.authority %></td>
        <% if params[:search] %>
          <td><%= highlight(sorn.categories_of_record, params[:search]) %></td>
        <% else %>
          <td><%= sorn.categories_of_record %></td>
        <% end %>
        <td><a href="<%= sorn.html_url %>">link</a></td>
        <td><a href="<%= sorn.xml_url %>"">link</a></td>
        <td><%= link_to 'Show', sorn %></td>
        <td><%= link_to 'Edit', edit_sorn_path(sorn) %></td>
        <td><%= link_to 'Destroy', sorn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    <%= paginate @sorns %>


<br>

<%= link_to 'New Sorn', new_sorn_path %>
