<header id="search-header" class="margin-top-2 home-intro">
  <div class="grid-container site-intro">
    <div class="grid-row grid-gap grid-col-9">
      <h1 class="site-title">SORN Dashboard</h1>
      <p class="sub-title">This dashboard enables targeted search of System of Records Notices (SORN). The dashboard regularly pulls newly published SORNs from the Federal Register, and includes document from 1994 to the present day. <%= link_to "Learn more about this tool", about_path %></p>
    </div>
  </div>
</header>

<%= form_tag '/', method: "GET", id: "search-form" do %>
<section class="grid-container">
  <div class="grid-col-10 grid-offset-1 search-area">
    <h2>Search for SORNs by entering a keyword (will return exact matches)</h2>
    <fieldset class="usa-search usa-search--big">
      <input class="usa-input" id="general-search" type="search" name="search" value="<%= params[:search] %>"></input>
      <button id="general-search-button" class="usa-button" type="submit">
        <span class="usa-search__submit-text">Search</span>
      </button>
    </fieldset>
  </div>
</section>
  <div class="grid-container margin-top-2">
    <div class ="grid-row grid-gap">

      <div class="usa-layout-docs__sidenav grid-col-4">
        <div class="border border-gray-70 sidebar">
          <div class="preview usa-prose site-prose" >

            <div class="usa-accordion">
              <h2 class="usa-accordion__heading">
                <button class="usa-accordion__button" aria-controls="sorn-sections-accordion" type="button">SORN Sections</button>
              </h2>
              <div id="sorn-sections-accordion" class="usa-accordion__content usa-prose">
                <%= render partial: "fields" %>
              </div>
              <h2 class="usa-accordion__heading">
                <button class="usa-accordion__button" aria-controls="agency-accordion" type="button">Agencies</button>
              </h2>
              <div id="agency-accordion" class="usa-accordion__content usa-prose">
                <%= render partial: "agencies" %>
              </div>
              <div class="usa-accordion__heading">
                <button id="publication-year-button" class="usa-accordion__button" aria-controls="date-accoridon" type="button">Publication year</button>
              </div>
              <div id="date-accoridon" class="usa-accordion__content usa-prose  margin-top-0 margin-bottom-4">
                <%= render partial: "publication_date" %>
              </div>
            </div>
          </div>
        </div>
        <div id="csv-download">
          <%= link_to search_path(search: params[:search], fields: params[:fields], agency: params[:agency], format: :csv).html_safe do %>
            <%= image_tag "Download_Icon.svg"%>
            <span class="csv-download-link-text">Download results as a CSV file</span>
          <% end %>
        </div>
      </div>

      <main class="usa-layout-docs__main usa-prose usa-layout-docs grid-col-8" id="main-content">
        <div class="grid-row margin-bottom-1">
          <div class="grid-col-6">
            <div id="count">
              <%= page_entries_info @sorns, entry_name: '' %> <%= 'for "' + params[:search] +'"' if params[:search].present? %>
            </div>
          </div>
          <div class="grid-col-6">
              <%= paginate @sorns %>
          </div>
        </div>

        <ul id='cards' class="usa-card-group">
          <% @sorns.each do |sorn| %>
            <li class="usa-card">
              <div class="usa-card__container">
                <header class="usa-card__header">
                  <span class="system-number">
                    <% if sorn.system_number %>
                    <%= sorn.system_number %>
                    <% else %>
                      System number unavailable.
                    <% end %>
                  </span>
                  <h2 class="system-name usa-card__heading"><%= sorn.system_name %></h2>
                </header>
                <div class="usa-card__body">
                  <div class="grid-row">
                    <div class="grid-col-12">
                      <span class="sorn-attribute-header">Agency:</span>
                      <span class="agency-names"><%= sorn.agency_names %></span>
                    </div>
                  </div>
                  <div class="grid-row">
                    <div class="grid-col-12">
                      <span class="sorn-attribute-header">Action:</span>
                      <%= sorn.action %>
                    </div>
                  </div>
                  <div class="grid-row">
                    <div class="grid-col-6">
                      <span class="sorn-attribute-header">Publication Date:</span>
                      <%= sorn.publication_date %>
                    </div>
                    <div class="grid-col-6">
                      <span class="sorn-attribute-header">Citation:</span>
                      <%= sorn.citation %>
                    </div>
                  </div>

                  <% if sorn.mentioned.present? %>
                    <div class="grid-row">
                      <div class="grid-col-12">
                        <span class="sorn-attribute-header">Other SORNs referenced:</span>
                        <ul>
                        <% sorn.mentioned.each do |metioned_sorn| %>
                          <li>
                            <a href="/search?search=<%= metioned_sorn.citation %>&fields[]=citation" class="mention-citation"><%= metioned_sorn.citation %></a>:
                            <%= metioned_sorn.action %>,
                            <%= metioned_sorn.publication_date %>
                          </li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>

                  <% if params[:search].present? %>
                    <hr />

                    <div class="grid-row">
                      <h4 class='found-in'>FOUND IN</h4>
                      <% sorn.section_snippets(@selected_fields, params[:search]).each do |section, snippet| %>
                        <div class="grid-row">
                          <div class='sorn-attribute-header'><%= section.humanize %></div>
                          <div class='found-section-snippet'><%= snippet %></div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <div class="usa-card__footer">
                  <div class="grid-row">
                    <div class="grid-col-6">
                      <a target="_blank" class="usa-link usa-link--external" href="<%= sorn.html_url %>" rel="noreferrer noopener">View full SORN</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          <% end %>

          <div class="grid-offset-6 grid-col-6 margin-bottom-3">
              <%= paginate @sorns %>
          </div>
        </ul>
      </main>

    </div>
  </div>
<% end %>
