<header id="search-header" class="margin-top-2 home-intro">
  <div class="grid-container site-intro">
    <div class="grid-row grid-gap grid-col-9">
      <h1 class="site-title">SORN Dashboard</h1>
      <p class="sub-title">This dashboard enables targeted search of System of Records Notices (SORN). The dashboard regularly pulls newly published SORNs from the Federal Register, and includes document from 1994 to the present day. <%= link_to "Learn more about this tool", about_path %></p>
    </div>
  </div>
</header>

<%= form_tag '/', method: "GET", id: "search-form", class: (params[:search].present? ? '' : 'pre-search') do %>
  <section class="grid-container">
    <div class="grid-col-10 grid-offset-1 search-area">
      <label for="general-search">Search for SORNs by entering a keyword (will return exact matches)</label>
      <fieldset class="usa-search usa-search--big">
        <input class="usa-input" id="general-search" type="search" name="search" value="<%= params[:search] %>"></input>
        <button id="general-search-button" class="usa-button" type="submit">
          <span class="usa-search__submit-text">Search</span>
        </button>
      </fieldset>
    </div>
  </section>

  <% if params[:search].present? %>
  <div class="grid-container margin-top-2">
    <div class ="grid-row grid-gap">

      <div class="usa-layout-docs__sidenav grid-col-4">
        <div class="border border-base-dark sidebar">
          <div class="preview usa-prose site-prose" >
            <h2>Refine your search</h2>
            <div class="usa-accordion">
              <%= render partial: "sections" %>
              <%= render partial: "agencies" %>
              <%= render partial: "publication_date" %>
            </div>
          </div>
        </div>
        <div id="csv-download">
          <%= link_to search_path csv_params do %>
            <%= image_tag("Download_Icon.svg", alt: "")%>
            <span class="csv-download-link-text">Download results as a CSV file</span>
          <% end %>
        </div>
      </div>

      <main class="usa-layout-docs__main usa-prose usa-layout-docs grid-col-8" id="main-content">
        <div id="active-filters">
          <div id="active-sections-filters">
            <div class="grid-row">
              <div class="labels">
                ACTIVE SECTION FILTERS
              </div>
            </div>
            <div class="grid-row">
              <div id="active-fields">
              <% Sorn::FIELDS.each do |section| %>
                <div class="active-filter" id="fields-<%= section.to_s %>-badge">
                  <%= section.to_s.humanize %><a class="remove-badge"><%= image_tag("uswds-2.9.0/close-blue-60v-alt.svg", role: "img", alt: "close")%></a>
                </div>
              <% end %>
              </div>
            </div>
          </div>

          <div id="active-agencies-filters">
            <div class="grid-row">
              <div class="labels">
                ACTIVE AGENCY FILTERS
              </div>
            </div>
            <div class="grid-row">
              <div id="active-agencies">
                <% Agency.all.each do |agency| %>
                  <div class="active-filter" id="agencies-<%= agency.name&.parameterize %>-badge">
                    <%= agency.name&.humanize %><a class="remove-badge"><%= image_tag("uswds-2.9.0/close-blue-60v-alt.svg", role: "img", alt: "close")%></a>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="grid-row margin-bottom-1">
          <div class="grid-col-7">
            <div id="count" class="labels">
              <%= page_entries_info @sorns, entry_name: '' %> <%= 'for "' + params[:search] +'"' if params[:search].present? %>
            </div>
          </div>
          <div class="grid-col-5">
              <%= paginate @sorns %>
          </div>
        </div>

        <ul id='cards' class="usa-card-group">
          <% @sorns.each do |sorn| %>
            <li class="usa-card">
              <div class="usa-card__container">
                <header class="usa-card__header">
                  <h2 class="system-name usa-card__heading"><%= raw(sorn.system_name) %></h2>
                </header>
                <div class="usa-card__body">
                  <div class="grid-row">
                    <div class="grid-col-12">
                      <span class="sorn-attribute-header">Agency:</span>
                      <span class="agency-names"><%= sorn.agency_names %></span>
                    </div>
                  </div>
                  <div class="grid-row">
                    <div class="grid-col-12">
                      <span class="sorn-attribute-header">Action:</span>
                      <%= sorn.action %>
                    </div>
                  </div>
                  <div class="grid-row">
                    <div class="grid-col-6">
                      <span class="sorn-attribute-header">Publication Date:</span>
                      <%= sorn.publication_date %>
                    </div>
                    <div class="grid-col-6">
                      <span class="sorn-attribute-header">Citation:</span>
                      <a target="_blank" class="usa-link usa-link--external" href="<%= sorn.html_url %>" rel="noreferrer noopener"><%= sorn.citation %></a>
                    </div>
                  </div>

                  <% if sorn.mentioned.present? %>
                    <div class="grid-row">
                      <div class="grid-col-12">
                        <span class="sorn-attribute-header">SORN versions and/or other SORNs referenced:</span>
                        <ul class="sorn-history__list">
                        <% sorn.mentioned.each do |metioned_sorn| %>
                          <li class="sorn-history__item">
                            <span class="sorn-history__content">
                            <a href="<%= metioned_sorn.html_url %>" class="mention-citation"><%= metioned_sorn.citation %></a>:
                            <span class="sorn-history__date"><%= metioned_sorn.publication_date %></span>
                            <span class="sorn-history__seperator">|</span>
                            <span class="sorn-history__action"><%= metioned_sorn.action %></span>
                            </span>
                          </li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>

                  <hr />

                  <div class="grid-row">
                    <h3 class='found-in'>FOUND IN</h4>
                    <% sorn.section_snippets(@fields_to_search.map(&:to_s), params[:search]).each do |section, snippet| %>
                      <div class="grid-row">
                        <div class='sorn-attribute-header'><%= section.humanize %></div>
                        <div class='found-section-snippet'><%= snippet %></div>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="usa-card__footer">
                  <div class="grid-row">
                    <div class="grid-col-6">
                      <a target="_blank" class="usa-link usa-link--external" href="<%= sorn.html_url %>" rel="noreferrer noopener">View full SORN</a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          <% end %>


        </ul>
        <div class="grid-row grid-offset-9 padding-y-3 padding-left-4">
          <%= paginate @sorns %>
        </div>
      </main>
    <% end %>

    </div>
  </div>
<% end %>
