<div class="explainer">
  <div class="grid-container">
    <div class="grid-row grid-gap">
    </div>
  </div>
</div>

  <div class="grid-container">
    <div class="grid-row grid-gap">

      <div class="usa-layout-docs__sidenav grid-col-4">

        <div class="border border-gray-70" id="sidebar">

        <div class="preview usa-prose site-prose" >
          <fieldset id="fields" class="usa-fieldset margin-105">
          <legend class="usa-legend">
            <div id="search-filters">Search filters</div>
            <div id="fields-to-search">Fields to search</div>
          </legend>
          
          <div id="sorn-fields" class="">
            <% checkboxes = Sorn::FIELDS + Sorn::METADATA %>
            <% checkboxes.each do |field, index| %>
              <div class="usa-checkbox">
                <input class="usa-checkbox__input" id="search-<%= field %>" type="checkbox" name="fields[]" value="<%= field %>">
                <label class="usa-checkbox__label" for="search-<%= field %>"><%= field.to_s.humanize %></label>
              </div>
            <% end %>
          </div>
          </fieldset>
        <div class="usa-accordion aria-multiselectable="true">
          <h2 class="usa-accordion__heading">
            <button class="usa-accordion__button"
              aria-expanded="false"
              aria-controls="a1">
              Agencies
            </button>
          </h2>
          <div id="a1" class="usa-accordion__content usa-prose">
            <% Agency.all.each do |agency| %> 
              <div class="usa-checkbox">
                <input class="usa-checkbox__input" id="search-<%= agency.name %>" type="checkbox" name="agencies[]" value="<%= agency.name %>">
                <label class="usa-checkbox__label" for="search-<%= agency.name %>"><%= agency.name %></label>              
              </div>
              <% end %>
          </div>
          <div class="usa-accordion__heading">
            <button class="usa-accordion__button"
              aria-expanded="false"
              aria-controls="a2">
              Publication date range
            </button>
          </div>
          <div id="a2" class="usa-accordion__content usa-prose">
            <p>Date Selector</p>
          </div>


        </div>

        </div>
      </div>
      </div>

      <main class="usa-layout-docs__main usa-prose usa-layout-docs grid-col-8" id="main-content">

        <%= form_tag('/search', method: "get", id: "search-form") do %>
          <fieldset class="usa-search usa-search--big">
            <input class="usa-input" id="general-search" type="search" name="search" value="<%= params[:search] %>"></input>
            <button id="general-search-button" class="usa-button" type="submit">
              <span class="usa-search__submit-text">Search</span>
            </button>
          </fieldset>
        <% end %>

        <ul id='cards' class="usa-card-group">
          <% @sorns.each do |sorn| %>
            <li class="usa-card">
              <div class="usa-card__container">
                <header class="usa-card__header">
                  <span class="system-number">System Number</span>
                  <h2 class="system-name usa-card__heading"><%= sorn.system_name %></h2>
                </header>
                <div class="usa-card__body">
                  <div class="grid-row">
                    <div class="grid-col-12">
                      <span class="sorn-attribute-header">Agency:</span>
                      <%= sorn.agencies.pluck(:name).join('<span class="agency-separator">|</span>').html_safe %>
                    </div>
                  </div>
                  <div class="grid-row">
                    <div class="grid-col-6">
                      <span class="sorn-attribute-header">Publication Date:</span>
                      <%= sorn.publication_date %>
                    </div>
                    <div class="grid-col-6">
                      <span class="sorn-attribute-header">Citation:</span>
                      <%= sorn.citation %>
                    </div>
                  </div>
                </div>
                <div class="usa-card__footer">
                  <div class="grid-row">
                    <div class="grid-col-6">
                      <a target="_blank" href="<%= sorn.html_url %>">Source Document</a>
                    </div>
                    <div class="grid-col-6 text-right">
                      <button class="usa-button" href="/">View all details</button>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>

      </main>
    </div>
  </div>
</div>