<p id="notice"><%= notice %></p>

  <% @sorn.attributes.keys.each do |key| %>
    <p>
      <strong><%= key.capitalize %>: </strong>
      <%= @sorn.attributes[key] %>
    </p>
  <% end %>

<%= link_to 'Edit', edit_sorn_path(@sorn) %> |
<%= link_to 'Back', sorns_path %>
