<h1>Sorns</h1>

<%= form_tag('/table', method: "get") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search") %>
<% end %>

<table class="dataTable usa-table">
  <thead>
    <tr>Count: <%= @count %></tr>
    <%= paginate @sorns %>
    <tr>
      <% @sorns.first.attributes.keys.each do |key| %>
        <th scope="col"><%= key %></th>
      <% end %>
      <th scope="col">Show</th>
    </tr>
  </thead>

  <tbody>
    <% @sorns.each do |sorn| %>
      <tr>
        <% sorn.attributes.values.each do |value| %>
          <td><%= value %></td>
        <% end %>
        <td><%= link_to 'Show', sorn %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sorns %>
