<h1>Sorns</h1>

<table id="table-everything" class="dataTable usa-table">
  <thead>
    <tr>
      <strong>Count: <%= @count %></strong>
      <%= paginate @sorns %>
    </tr>
    <tr>
      <% @sorns.first.attributes.keys.each do |key| %>
        <th scope="col"><%= key %></th>
      <% end %>
      <th scope="col">Show</th>
    </tr>
  </thead>

  <tbody>
    <% @sorns.each do |sorn| %>
      <tr>
        <% sorn.attributes.values.each do |value| %>
          <td><%= value %></td>
        <% end %>
        <td><%= link_to 'Show', sorn %></td>
      </tr>
    <% end %>
  </tbody>
</table>
